@page "/home/{TokenUser}"
@using Microsoft.AspNetCore.Components.Web
@using Web.Model;
@rendermode RenderMode.InteractiveServer
@inject IJSRuntime JSRuntime
@code
{
    [Parameter]
    public string TokenUser { get; set; } = string.Empty;

    public bool FlagSort { get; set; }
    public DateTime parsedDate { get; set; }
    public List<Model.Task> Tasks { get; set; } = new List<Model.Task>();
    public string TaskStatus { get; set; } = string.Empty;
    public List<Model.Status> Statuses { get; set; } = new List<Model.Status>();
    public List<Model.Priority> Priorities { get; set; } = new List<Model.Priority>();

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        var apiClient = new ApiClient("eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9." +
       "eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoi" +
       "MTIzMTIzIiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvbmFt" +
       "ZWlkZW50aWZlZXIiOiIxMjNlNDU2Ny1lODliLTEyZDMtYTQ1Ni00MjY2NTU0NDAwMDA" +
       "iLCJleHAiOjE3MzA5MDY3NDN9.ero6vopzxEbCz0XWeRIQ0eNOKL6q_CeKRMDApZeTAyc", "LANVER2024@");
        var tasks = await apiClient.GetTaskAsync(new User()
            {
                Id = TokenUser,
                Email = "string",
                Login = "string",
                Password = "string",
                FullName = "string"
            });

        var statuses = await apiClient.GetStatusAsync();
        var priorities = await apiClient.GetPrioritiesAsync();

        Tasks = tasks;
        Statuses = statuses;
        Priorities = priorities;

    }

    public void AddButton(Model.Status status)
    {
        var NewTask = new Model.Task() { Id = Tasks.Count + 1 };
        JSRuntime.InvokeVoidAsync("AddDiv", status.Id,NewTask);
    }

    public void EditButton(Model.Task task,Model.Status status)
    {
        // JSRuntime.InvokeVoidAsync("blockInputs", task.Id);
        NavigationManager.NavigateTo($"/home/{result}", true);
    }

    public void DeleteButton(Model.Task task,Model.Status status)
    {
        JSRuntime.InvokeVoidAsync("RemoveDiv", task.Id,status.Id);
    }

    public void FilterButton()
    {

    }

    public void SortButton(Model.Status status)
    {
        if (FlagSort)
        {
            JSRuntime.InvokeVoidAsync("SortDiv", status.Id, FlagSort);
            FlagSort = false;
        }
        else
        {
            JSRuntime.InvokeVoidAsync("SortDiv", status.Id, FlagSort);
            FlagSort = true;
        }
    }
}
@{
       void RenderTasksAndStatuses(List<Model.Task> tasks, List<Status> statuses)
        {
    @foreach (var status in statuses)
        {
            <div class="column">
                <div class="header">
                    <h3>@status.Name</h3>
                    <div class="actions">
                        <button class="sort-button" @onclick="@(e => AddButton(status))"><b>+</b></button>
                        <button class="sort-button" @onclick="@(e => SortButton(status))">↑↓</button>
                    </div>
                </div>
                <div id="@status.Id-s">
                    @foreach (var task in tasks)
                    {
                        @if (task.StatusId == status.Id)
                        {
                                            <div class="task-area" id="@task.Id">
                                                <div class="task" draggable="true">
                                                    <div class="panel">
                                                    <table>
                                                    <tr>
                                                      <td>
                                                      <input type="text" id="@task.Id-text" style="border:none;" @bind-value=@task.Name disabled="disabled"></input>
                                                      </td>
                                                    </tr>
                                                     <tr>
                                                    <td>
                                                    <input id="@task.Id-description" style="border:none;" disabled="disabled" @bind-value=task.Description></input>
                                                    </td>
                                                     </tr>
                                                     <tr>
                                                    <td>
                                                    <input type="date" id="@task.Id-deadline" @bind-value=task.DeadLine style="border:none;" disabled="disabled">
                                                    </td>
                                                     </tr>
                                                        </table>
                                                        <button class="edit-task-button" id="@task.Id-bt-task" @onclick="@(e => EditButton(task,status))">📒</button>
                                                        <button class="delete-task-button" @onclick="@(e => DeleteButton(task,status))">❌</button>
                                                    </div>
                                                </div>
                                            </div>
                        }
                    }
                                </div>
                            </div>
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Задачник</title>
     <link rel="stylesheet" href="~/StyleTask.css" />
</head>
<body>
    <header>
            <img src="/Img/IconApp.png" class="logo" alt="Логотип компании" />
            <nav class="main-nav">
                <ul>
                <li>
                <a href="/home/@TokenUser">
                        <img src="/Img/Home.png" width="30" class="header-nav-ul-li-img" />
                        <span> Главная</span>
                </a>
                </li>
                <li>
                    <a href="/">
                        <img src="/Img/Exit.png" width="30" class="header-nav-ul-li-img" />
                        <span>Выйти</span>
                    </a>
                </li>
                </ul>
            </nav>
            <div class="menu-toggle">
                <div class="hamburger"></div>
            </div>
    </header>
    <main>
    <div class="container">
    @if(Tasks!=null&Statuses!=null)
        {
            RenderTasksAndStatuses(Tasks!, Statuses!);
        }
    </div>
    </main>
 </body>
</html>
<style type="text/css">
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: #8282ff;
}

.logo
{
    width:10%;
}

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        color: #fff;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
    }

        header h1.logo {
            font-size: 1.5em;
            margin: 0;
        }

        header nav.main-nav {
            display: none;
            width:100%;
        }

            header nav.main-nav ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
            }


            header nav.main-nav a {
                color: #fff;
                text-decoration: none;
                width:100%;
                margin:0;
            }

            header nav.main-nav a:hover {
                background:grey;
                border-radius:6px;
            }


        header.menu-toggle {
            display: none;
        }

        /* Styles for desktop (above 900px) */
@@media (min-width: 900px) {
    .logo{
        width:100px;
    }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* adjust the width to your liking */
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
  }

  header h1.logo {
    font-size: 2em;
    margin-bottom: 20px;
  }

  header nav.main-nav {
    display: block;
  }

  header nav.main-nav ul {
    flex-direction: column;
  }

  header nav.main-nav li {
    margin:5px;
    display:flex;
    flex:1;
  }

  header.menu-toggle {
    display: none;
  }

        .main {
            display: flex;
            flex: 1;
        }

        .container {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 20px;
            margin-left: 15%;
            width: 90%; /* Задаем ширину контейнера как 100% ширины экрана минус ширина боковой панели */
            height: 90%;
            overflow-y: auto; /* Добавляем скролл по вертикали */
        }


        .column {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            width: 33%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            gap: 20px;
        }

            .column h2 {
                margin-bottom: 10px;
                text-align: center;
            }

            .column .header {
                background-color: #f0f0f0;
                padding: 10px;
                border-radius: 5px 5px 0 0;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

                .column .header button {
                    background-color: #fff;
                    border: none;
                    padding: 5px 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 1rem;
                    color: #333;
                    transition: background-color 0.2s ease;
                }

                    .column .header button:hover {
                        background-color: #eee;
                    }



        .task {
            background-color: #fff;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            cursor: move;
            user-select: none;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
            position: relative;
            display: flex;
            width:100%;
        }

        .panel{
            width:100%;
        }

        .panel h3 {
            margin-top: 0;
        }

        .panel p {
            margin-bottom: 5px;
        }

        .panel .actions button {
            background-color: #fff;
            border: none;
            padding: 5px 8px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
            color: #333;
            transition: background-color 0.2s ease;
        }

        .panel table {
            width: 100%;
        }

        .panel .table tr {
            width: 100%;
        }
        .panel table tr td input{
            width: 100%;
        }
        
        .edit-task-button {
            border: none;
            background: white;
        }

        .delete-task-button {
            border: none;
            background: white;
        }

        .task .actions button:hover {
            background-color: #eee;
        }

        .task.dragging {
            opacity: 0.5;
        }

        .column.over {
            background-color: #eee;
        }

        .column.over {
            background-color: #eee;
        }

        #inprogress .header {
            background-color: #31b5e9;
            box-shadow: 0 2px 5px rgba(255, 165, 0, 0.3) inset; /* Внутренняя тень */
        }

        #done .header {
            background-color: #e26c57;
            box-shadow: 0 2px 5px rgba(0, 128, 0, 0.3) inset; /* Внутренняя тень */
        }
        /* Полупрозрачность области задач */
        .column .task-area {
            position: relative; /* Чтобы добавить тень к области задач */
            background-color: rgba(255, 255, 255, 0.7); /* Полупрозрачный белый */
            padding: 10px;
            border-radius: 0 0 5px 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset; /* Внутренняя тень */
        }

            .column .task-area:before {
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.7); /* Полупрозрачный белый */
                z-index: -1; /* Чтобы тень была видна */
            }

        .column .header .actions {
            display: flex;
            gap: 5px;
        }

            .column .header .actions button {
                background-color: #fff;
                border: none;
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 1rem;
                color: #333;
                transition: background-color 0.2s ease;
            }

                .column .header .actions button:hover {
                    background-color: #eee;
                }
}

/* Styles for mobile (below 900px) */
 @@media(max-width: 900px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }

  header h1.logo {
    font-size: 1.5em;
    margin: 0;
  }

  header nav.main-nav {
    display: none;
  }


 .menu-toggle.hamburger {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
  }

            .menu-toggle {
                display: block;
            }

        .main {
            width:100%;
        }

        .container {
            justify-content: center;
            align-items: center;
            gap: 0px;
            padding: 0px;
            margin-left:0px;
            margin-top: 10%;
            width: 100%; /* Задаем ширину контейнера как 100% ширины экрана минус ширина боковой панели */
            height: 100vh;
            overflow-y: auto; /* Добавляем скролл по вертикали */
        }


        .column {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            width: 33%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            gap: 20px;
        }

}
</style>
    <script>
    function SortDiv(sid, flag) {
        const parent = document.getElementById(sid + "-s");
        const children = parent.children;
        const array = Array.prototype.slice.call(children);
        array.sort((a, b) => {
            const dateA = new Date(a.querySelector('input[type="date"]').value);
            const dateB = new Date(b.querySelector('input[type="date"]').value);
            if (flag)
                return dateB - dateA; // для сортировки по возрастанию
            else
                return dateA - dateB; // для сортировки по убыванию
        });

        parent.innerHTML = '';
        array.forEach(child => parent.appendChild(child));
    }
    function blockInputs(id) {
        const flag = !document.getElementById(id + "-text").disabled;
        const element = document.getElementById(id + "-bt-task");
        if (!flag) {
            element.textContent = "✅";
        }
        if (flag) {
            element.textContent = "📒";
        }
        document.getElementById(id + "-text").disabled = flag;
        document.getElementById(id + "-description").disabled = flag;
        document.getElementById(id + "-deadline").disabled = flag;
    }
    function RemoveDiv(id, sid) {
        const flag = document.getElementById(id + "-text").disabled;
        if (flag) {
            const parent = document.getElementById(sid + "-s")
            const child = document.getElementById(id);
            parent.removeChild(child);
        }
        if(!flag)
        {
            const element = document.getElementById(id + "-bt-task");
            element.textContent = "📒";
            document.getElementById(id + "-text").disabled = !flag;
            document.getElementById(id + "-description").disabled = !flag;
            document.getElementById(id + "-deadline").disabled = !flag;
        }
    } 
    function AddDiv(sid,newTask)
    {
        const parent = document.getElementById(sid + "-s");
    }

        </script>
